*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #90E0EF;
}
.login-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #90E0EF;
}
.users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.usr-comum, .usr-admin{
    margin: 0 20px;
}
.login-container{
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #023E8A;
}
.title{
    align-self: center;
    justify-self: flex-start;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin: 75px;
}
.col-email, .col-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.text-label{
    align-self: flex-start;
    color: #ffffff;
}
.inputs{
    width: 299px;
    height: 30px;
}
.btn-inputs{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.msg-Erro{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
@media(max-width: 500px){
    .login-container{
        width: 200px;
        height: 350px;
    }
    .users{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .login{
        width: 200px;
    }
    
    .login-inputs{
        margin: 20px;
    }
}